extracted_frames/
train_videos/
output_json/
.env/
__pycache__/
.DS_Store
verification_output/
*.output_json
*.zip
*.json
dataset/
runs/
coco_to_yolo/
annotated_images/
video_data/
training_dataset/
divider.txt
dbenv/
checker/
checker_dummy/